.contendidoMYV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
}
.tarjetas{
    display: flex;

    width: 60dvw;
    flex-direction: column; 
    padding: 2rem;
    margin: 1rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 10px;
}
.tarjetas h3{
    font-size: 2rem;
}
.tarjetas p{
    font-size: 1.2rem;
}

/* Responsive styles */
@media (max-width: 900px) {
  .tarjetas {
    width: 90vw;
  }

}

@media (max-width: 600px) {
  .tarjetas {
    width: 98vw;
    padding: 0.5rem;
    margin: 0.5rem 0;
    box-shadow: none;
    border-radius: 0;
  }
  
  .tarjetas h3 {
    font-size: 1.3rem;
  }
  .tarjetas p {
    font-size: 1rem;
  }
}