/* Map.module.css */
.mapResponsive {
  width: 100%;
  max-width: 600px;
  height: 50vw;
  max-height: 400px;
  min-height: 250px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .mapResponsive {
    height: 60vw;
    max-height: 300px;
    min-height: 180px;
  }
}